astropy==5.2.2
casadata==2023.9.25
casafeather==0.0.20
casalogger==1.0.17
casampi==0.5.4
casaplotms==2.2.4
casaplotserver==1.7.1
casashell==6.6.0.20
casatablebrowser==0.0.33
casatasks==6.6.0.20
casatestutils==6.6.0.20
casatools==6.6.0.20
casaviewer==1.9.1
numpy==1.24.3
python-casacore==3.5.2
reproject==0.11.0
scipy==1.11.4
