name: build-base-container

on:
  push:
    branches:
    - feature/refactoring
    - development
    paths:
    - .github/workflows/build_base_container.yaml
    - Dockerfile
  pull_request:
    branches:
    - master
    paths:
    - .github/workflows/build_base_container.yaml
    - Dockerfile

env:
  REGISTRY: ghcr.io

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.repository_owner }}
        password: ${{ secrets.REGISTRY_TOKEN }}
    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Build and Push Docker Image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ env.REGISTRY }}/${{ github.repository }}:base
        cache-from: type=gha
        cache-to: type=gha,mode=max
